{% include "inc/header" %}
<div id="con-wrapper">
  <div class="container J_content">
    <h4>
      <img src="{{'images/icons/svg/paper-bag.svg'|asset_url}}" alt="Pocket" width="35" height="35"> Vhost
    </h4>
    <hr>
    <div id="vhosts"></div>
  </div>
</div>
{% include "inc/footer" %}
