{% include "inc/header" %}
<script>
  window.serverList = {{ serverList }}
</script>
<div id="con-wrapper" ng-app="vhost">
  <div class="container J_content">
    <h4>
      <img src="{{'images/icons/svg/paper-bag.svg'|asset_url}}" alt="Pocket" width="35" height="35"> Vhost
    </h4>
    <hr>
    <div ng-controller="vhostTable">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th width="15%">
              Domain 
            </th> 
            <th width="40%">
              Local Path  
            </th> 
            <th width="15%">
              Proxy Switch
            </th>
            <th width="15%">
              Open Switch
            </th>
            <th width="15%">
              Operate
            </th>
          </tr> 
        </thead>
        <tbody>
        <tr x-ng-repeat="item in serverList" ng-cloak ng-show="serverList.length">
          <td>
            [[ item.domain ]]
          </td>
          <td>
            [[ item.path ]]
          </td>
          <td>
            <input type="checkbox" ng-model="item.openOnlineProxy" switch>
          </td>
          <td>
            <input type="checkbox" ng-model="item.status" switch>
          </td>
          <td>
            <button ng-click="delete(item.domain)" type="button" class="btn btn-xs btn-danger" title="delete">Delete</button>
          </td>
        </tr>
        <tr ng-show="showNewline" ng-cloak>
          <td>
            <input type="text" ng-model="domain"> 
          </td>
          <td>
            <input type="text" ng-model="path"> 
          </td>
          <td></td>
          <td></td>
          <td>
            <input type="button" value="save" ng-click="save()"> 
            <input type="button" value="cancel" ng-click="cancel()"> 
          </td>
        </tr>
        </tbody>
    </table>
    <button type="button" ng-click="create()" class="btn btn-sm btn-primary">
      <span class="fui-plus"></span>
    </button> 
    </div>
  </div>
</div>
<script src="{{'conf/vhost.js'|asset_url}}"></script>
{% include "inc/footer" %}
